/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  background-color: #111111;
  transition: 0.3s ease-in-out;
}

.container {
  width: 100vw;
  max-width: 1200px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #ffffff;
  color: #ffffff;
}

body.dark-mode .resume {
  background-color: #222222;
  border-color: #444444;
}

body.dark-mode .left-column {
  background-color: #000000;
  border-color: #333333;
}

body.dark-mode .right-column {
  background-color: #171717;
}

body.dark-mode h1 {
  color: #ffffff; 
}

body.dark-mode circle {
  border: white;
}

body.dark-mode .icon,
body.dark-mode .fa-house,
body.dark-mode .fa-phone,
body.dark-mode .fa-envelope,
body.dark-mode .fa-briefcase,
body.dark-mode .fa-facebook {
  background-color: #eeeeee;
  color: #08a0e9;
}

/* body.dark-mode .fa-address-book,
body.dark-mode .fa-thumbs-up,
body.dark-mode .fa-user-secret,
body.dark-mode .fa-user,
body.dark-mode .fa-graduation-cap,
body.dark-mode .fa-award {
  color: #f2f2f2;
} */

body.dark-mode .contact .label {
  color: #ffffff;
}

body.dark-mode .contact p {
  color: #08a0e9;
}

body.dark-mode .skill-fill {
  background-color: #ffffff;
}

body.dark-mode .skill-bar {
  background-color: #08a0e9;
}

body.dark-mode .timeline .circle {
  background-color: #08a0e9;
  border-color: #ffffff;
}

body.dark-mode .timeline .date {
  color: #ffffff;
}

body.dark-mode .timeline .content {
  border-color: #08a0e9;
}

body.dark-mode .award_desc {
  color: #e1e1e1;
}

body.dark-mode .honors-awards .award_name{
  color: #08a0e9;
}

body.dark-mode .kisay,
body.dark-mode .feu,
body.dark-mode .dost,
body.dark-mode .lscdc {
  background-color: white;
  border: #08a0e9 solid 1.5px;
}

/* Resume Styles */
.resume {
  display: flex;
  width: 90%;
  max-width: 1000px;
  /* border: 1px solid #ccc; */
  background-color: #fffffc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  place-self: center;
}

/* Left Column Styles */
.left-column {
  width: 30%;
  display: grid;
  grid-template-rows: 0.8fr 0.5fr 0.4fr 0.8fr 0.5fr;
  border-right: 1px solid #ccc;
  background-color: #262525;
  color: #f4f4f4;
  padding: 10px 45px 10px 10px;
}

.left-column > div {
  padding: 1rem;
  border-bottom: 0.5px solid #bcbaba;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.left-column > div:last-child {
  border-bottom: none;
}

.pfp {
  width: 100%;
  border-radius: 200px;
  border: 5px solid #08a0e9;
  margin: 60px 0 50px;
}

/* Contact Card Styles */
.contact-card {
  width: 300px;
}

.contact-card h2 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 0 0 30px;
}

.contact-card h2 .icon {
  margin-right: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  line-height: 5px;
}

.contact-item:last-child {
  margin-bottom: 0;
}

.contact_icon {
  width: 5%;
  margin-right: 10px;
}

.fa-house,
.fa-phone,
.fa-envelope,
.fa-briefcase,
.fa-facebook {
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 13px 0;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

.fa-address-book,
.fa-thumbs-up,
.fa-user-secret,
.fa-user,
.fa-graduation-cap,
.fa-award {
  font-size: 18px;
  margin-right: 12px;
  color: #08a0e9;
}

.label {
  font-size: 0.9rem;
  color: #3498db;
  margin: 0;
}

/* Right Column Styles */
.right-column {
  width: 70%;
  display: grid;
  grid-template-rows: 0.5fr 0.9fr 1.1fr 2.8fr;
  background-color: #ffffff;
  padding: 0 40px;
}

.right-column > div {
  border-bottom: 1px solid #eee;
}

.right-column > div:last-child {
  border-bottom: none;
}

.name {
  line-height: 13px;
  text-align: center;
  margin-top: 60px;
}

.name > p {
  color: #08a0e9;
  font-weight: 600;
  font-size: 24px;
}

.name > h1 {
  font-size: 46px;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2c2a2a;
}

/* Description Styles */
.description > h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profile_icon {
  width: 3%;
}

/* Skills Section */
.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.skills {
  margin-bottom: 50px;
}

.skill-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0 2px 0;
}

.skill-bar {
  flex-grow: 1;
  height: 17px;
  background-color: #e6e6e6;
  border-radius: 20px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background-color: #3498db;
  border-radius: 20px;
}

.skill-fill.graphic,
.techlit {
  width: 80%;
}

.skill-fill.leadership,
.critthink {
  width: 70%;
}

.skill-fill.comms {
  width: 70%;
}

.skill-label > span {
  font-size: 13px;
  font-weight: 600;
  color: #808297;
}

/* Timeline Styles */
.timeline {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.timeline-item {
  display: flex;
  position: relative;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 3px solid #3498db;
  border-radius: 50%;
  margin: 20px; 
  flex-shrink: 0;
}

.date {
  font-size: 0.9rem;
  color: #808297;
  font-weight: bold;
  text-align: left;
  flex-shrink: 0;
}

.content {
  flex: 1;
  border-left: 3.5px solid #ddd;
  padding-left: 27px;
  margin-left: 160.5px;
}

.level {
  font-size: 1rem;
  font-weight: bold;
  color: #3498db;
  text-align: left;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  margin: 5px 0;
  line-height: 20px;
}

.school {
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}

.eduinfos {
  display: flex;
  align-items: center;
  margin-right: 210px;
  height: 23px;
}

.space {
  height: 7px;
}

.primary {
  height: 45px;
}

.secondary {
  height: 65px;
}

.tertiary {
  height: 85px;
}

/* Icons */
.feu,
.kisay {
  width: 38px;
  margin-bottom: 8px;
  margin-right: 10px;
  border: 1px solid #dcdbdb;
  border-radius: 2000px;
  padding: 0 5.6px;
}

.dost,
.lscdc {
  width: 45px;
  margin-bottom: 8px;
  margin-right: 10px;
  border: 1px solid #dcdbdb;
  border-radius: 2000px;
  padding: 2px;
}

/* Awards Section */
.award_desc {
  font-size: 14px;
  color: #7e8299;
  line-height: 20px;
  margin: 8.8px 0;
}

.award_name {
  font-weight: bold;
  margin: 2px 0;
}
