body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
  background-image: url(swirl.png);
  border-image-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.card_container {
  grid-column: 1/1;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  border-right: 8px rgb(0, 0, 0) solid;
}

.day {
  width: 300px;
  height: 65px;
  border: #ffffff solid 3px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: #000000 5px 5px 10px 5px;
  place-self: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  place-content: center;
  align-items: center;
}

h1 {
  font-size: 20px;
}

.mon {
  background-color: rgb(211, 9, 9);
}
.tues {
  background-color: rgb(240, 156, 0);
}
.wed {
  background-color: yellow;
}
.thurs {
  background-color: green;
}
.fri {
  background-color: rgb(103, 103, 255);
}
.satur {
  background-color: rgb(149, 70, 206);
}
.sun {
  background-color: violet;
}

.day:hover {
  width: 320px;
  height: 80px;
  transition: 0.2s ease-in-out;
}

.box_container {
  grid-column: 2/2;
  place-content: center;
  justify-content: center;
  align-items: center;
  padding-right: 200px;
  position: relative;
  width: 100%;
  height: 100vh;
}

.box {
  width: 300px;
  height: 300px;
  border: #ffffff 8px solid;
  border-radius: 20px;
  box-shadow: #000000 5px 5px 10px 5px;
  position: absolute;
  top: -100%;
  left: 28%;
  transform: translateX(-50%);
  transition: top 1.5s ease-in-out, background-color 2.5s ease-in-out;
}

.mon.box {
  background-color: rgb(64, 6, 6);
}
.tues.box {
  background-color: rgb(94, 64, 10);
}
.wed.box {
  background-color: rgb(89, 89, 4);
}
.thurs.box {
  background-color: rgb(7, 55, 7);
}
.fri.box {
  background-color: rgb(5, 5, 47);
}
.satur.box {
  background-color: rgb(45, 6, 72);
}
.sun.box {
  background-color: rgb(62, 7, 62);
}

.active {
  top: 50%;
  transform: translate(-50%, -50%);
}

.active.mon {
  background-color: rgb(255, 0, 0);
}
.active.tues {
  background-color: rgb(255, 166, 0);
}
.active.wed {
  background-color: rgb(255, 255, 0);
}
.active.thurs {
  background-color: rgb(36, 255, 36);
}
.active.fri {
  background-color: rgb(40, 40, 255);
}
.active.satur {
  background-color: rgb(152, 42, 255);
}
.active.sun {
  background-color: rgb(255, 100, 255);
}
